{% extends "_layout.html" %}

{% block title %}
{% endblock %}

{% block content %}
<h1>Profile Page</h1>
<img class="profile-img" src="{{user.profile_image_path}}" />
<h4>{{ user.username|upper }}</h4>
<h5>User ID: {{user.id}}</h5>

{% for image in images %}
<div class="user-img-container">
    <img class="user-img" src="{{image.user_image_url}}" />
    <div>
        Total Donated Amount: RM{{image.donations_sum}}
    </div>
    <form action={{url_for("transactions.new", image_id=image.id)}}>
        <button type="submit" class="btn btn-secondary">Donate</button>
    </form>
</div>    

{% endfor %}

{% endblock %}